:root {
    --bg-red: #fdf2f5;
    --bg-yellow: #ffe9a9;
    --bg-yellow: #fffbd6;
    --border-blue: #003eaa;
    --border-blue: #0060df;
    --border-green: #00bb00;
    --border-red: #f8d5db;
    --border-red: #ff0000;
    --border-yellow: #f4e89a;
    --button-width: 40px;
    --color-folder: maroon;
    --color-guid: gray;
    --font-size: 0.8em;
    --padding-standard: 10px;
    --soft-radius: 10px;
    --width-number: 32px;
}

body,
h2,
nav,
#content,
.figure_item,
.item_number,
.number,
.arrow_top a,
.item_right {
    display: flex;
}

body {
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: var(--font-size);
    background: var(--bg-yellow);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    justify-content: space-between;
    align-items: baseline;
    border-color: var(--bg-yellow);
    border-style: double;
    border-width: 0 0 9px 9px;
    padding: 9px 18px;
    margin: 1em 0 0 -3px;
    w_border-top-right-radius: 20px;
    border-radius: 0 20px;
    background: var(--border-blue);
    color: white;
}

.with_index h2 {
    margin-right: calc(var(--width-number) + var(--padding-standard));
}

h2 + div {
    padding: 0 0 0 24px;
}

.android_id {
    font-weight: normal;
    font-size: var(--font-size);
    color: aqua;
}

.comment {
    color: var(--border-blue);
}

.line_header h3 {
    color: var(--border-blue);
}

.subline_header h3 {
    color: var(--color-folder);
}

.model_header h3 {
}

.cover img {
    width: 200px;
    border: 1px solid var(--border-green);
    border-radius: var(--soft-radius);
}

ol,
ul {
    margin: 0;
    padding-left: 24px;
}

li {
    w_padding: 0 0 1em 0;
    line-height: 2;
}

p {
    margin: 0;
    padding: 0.5em 0;
}

ul > li {
    list-style-type: square;
}

ul > li ul > li {
    list-style-type: 'bum';
    list-style-type: '\1F44D';
    list-style-type: disclosure-open;
}

nav {
    justify-content: space-between;
}

.nav_menu {
    white-space: nowrap;
}

.nav_menu .app {
    font-weight: bold;
}

ul.nav_menu,
.nav_menu .app {
    margin-top: 3em;
}

.left_menu {
    w_margin-right: 40px;
}

.folder_path {
    color: var(--color-folder);
}

.model {
    color: var(--border-green);
}

.guid {
    color: var(--color-guid);
}

a.goto {
    background: url(../img/external_link.svg) right center no-repeat;
    background-size: 12px;
    padding-right: 16px;
}

.arrow_top {
    position: fixed;
    bottom: var(--padding-standard);
    left: 270px;
}

.arrow_top a {
    height: var(--button-width);
    background: var(--bg-red);
    color: var(--border-red);
    border: 1px solid var(--border-red);
}

.arrow_top a:active {
    color: var(--border-green);
    border-color: var(--border-green);
}

.arrow_top span {
    padding: 0 0 0.32em 0;
}

.number {
    color: white;
    background: var(--border-green);
    min-height: 2.65em;
    margin-right: var(--padding-standard);
}

.number,
.arrow_top a {
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    width: var(--button-width);
    border-radius: var(--soft-radius);
}

#page {
    margin: 0 auto 60px auto;
    padding: var(--padding-standard);
}

#wrapper {
}

.figure_item {
    align-items: center;
}

.item_label {
    align-self: stretch;
    width: 300px;
    border-top: 1px dashed var(--color-guid);
    padding-bottom: 0.5em;
}

.model_item .figure_item:last-child .item_label {
    border-bottom: 1px dashed var(--color-guid);
}

.model_item:last-child .figure_item:last-child .item_label {
    border-bottom: none;
}

.item_cover {
    padding: 5px 0;
}

.item_count,
.index_value {
    width: var(--width-number);
    text-align: right;
}

.item_count {
    padding-right: var(--padding-standard);
}

.index_value {
    padding-left: var(--padding-standard);
}

.app_item:not(.with_index) .index_value {
    display: none;
}

.figure_item .name {
    align-self: center;
}

.cover img[src^="img/app/ApitorKit/robotX"] { background: #bae3f9; }
.cover img[src^="img/app/ApitorKit/robotS"] { background: #d5effe; }
.cover img[src^="img/app/ApitorKit/robotQ"] { background: #c2eba9; }
.cover img[src^="img/app/ApitorKit/robotJ"] { background: #afcdfa; }
.cover img[src^="img/app/ApitorKit/robotR"] { background: #f7db94; }
.cover img[src^="img/app/ApitorKit/robotE"] { background: #dcdfca; }
.cover img[src^="img/app/ApitorKit/robotG"] { background: #efdfe7; }
.cover img[src^="img/app/ApitorKit/robotB"] { background: #929ba2; }
